#webhook-panel {
  padding: 16px 16px 0 !important;
}

#webhook-panel .ctz-b0 {
  border: none !important;
}

#webhook-panel .ctz-mt3 {
  margin-top: 1rem !important;
}

#webhook-panel .ctz-mb3 {
  margin-bottom: 1rem !important;
}

#webhook-panel .ctz-color-red {
  color: #AA0000;
}

#webhook-panel pre {
  background: #FFFFFF;
  border: 1px solid #CCCCCC;
  padding: 10px;
  margin: 0;
}

#webhook-panel .description {
  font-size: 13px;
}

#webhook-panel legend {
  margin: 0 0 0.5!important;
  padding: 0;
}

#webhook-panel legend p {
  margin: 0 0 0.5rem;
}

#webhook-panel legend p:last-child {
  margin-bottom: 0;
}

#webhook-panel .donation-alert {
  background: #FF4A00;
  display: block;
  color: #FFFFFF;
  padding: 10px 15px;
  margin: 10px 0 20px;
}

#webhook-panel .donation-alert strong {
  margin-right: 5px;
}

#webhook-panel .donation-alert a {
  color: inherit;
  outline: none !important;
  box-shadow: none !important;
}

#webhook-panel .ctz-section-title {
  font-weight: bold;
  margin: 0 0 0.4rem;
  display: flex;
  align-items: center;
  white-space: nowrap;
  color: #FF4A00;
}

#webhook-panel .ctz-section-title:after {
  content: '';
  display: block;
  height: 1px;
  width: 100%;
  background: #dcdcde;
  margin-left: 1rem;
  flex-grow: 1;
}

#webhook-panel .select2 {
  width: 100% !important;
}

#webhook-panel .ctz-accordion-wrapper {
  margin: 0 -16px;
}

#webhook-panel .ctz-accordion-wrapper .ctz-accordion-trigger {
  cursor: pointer;
  padding: 1rem 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#webhook-panel .ctz-accordion-wrapper .ctz-accordion-trigger:after {
  content: "\f347";
  font-size: 1.1rem;
  font-family: 'dashicons';
}

#webhook-panel .ctz-accordion-wrapper .ctz-accordion-trigger.open:after {
  content: "\f343";
}

#webhook-panel .ctz-accordion-wrapper .ctz-accordion-trigger:hover {
  background: rgba(0, 0, 0, 0.1);
}

#webhook-panel .ctz-accordion-wrapper .ctz-accordion-trigger h2 {
  font-weight: bold;
  margin: 0;
}

#webhook-panel .ctz-accordion-wrapper .ctz-accordion-trigger .description {
  margin: 0.5rem 0 0 0;
}

#webhook-panel .ctz-accordion-wrapper .ctz-accordion-content {
  padding: 1rem 16px 1.5rem;
  border-bottom: 1px solid #dcdcde;
}

#webhook-panel .ctz-accordion-wrapper .ctz-accordion-content h3 {
  font-weight: normal;
  font-size: 1rem;
  text-decoration: underline;
  margin: 0 0 1rem;
}

#webhook-panel .faq-list {
  margin: 0;
}

#webhook-panel .faq-list li {
  margin: 0 0 0.5rem;
}

#webhook-panel .faq-list li a {
  color: #FF4A00;
  box-shadow: none;
}

#webhook-panel .faq-list li a:hover {
  color: #E54300;
}

#webhook-panel .faq-list li.new-topic {
  margin-top: 1rem;
}

#webhook-panel .faq-list li.new-topic a {
  color: #2271b1;
}

#webhook-panel .faq-list li.new-topic a:hover {
  color: #135e96;
}

#ctz-webhook-confirmation {
  display: none;
  position: fixed;
  background: #FFF;
  z-index: 99999999;
  max-width: 600px;
  margin: 1.75rem auto;
  top: 5%;
  left: 50%;
  margin-left: -300px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
  padding: 3rem 2.5rem 2.5rem;
  text-align: center;
  box-sizing: border-box;
}

#ctz-webhook-confirmation .ctz-webhook-confirmation-message {
  margin: 0 0 3rem;
  color: #FF4A00;
  font-size: 2rem;
  line-height: 1.4;
  font-weight: 300;
}

#ctz-webhook-confirmation .ctz-webhook-confirmation-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 4rem 0 0;
}

#ctz-webhook-confirmation .ctz-webhook-confirmation-buttons a {
  display: inline-block;
  text-decoration: none;
  padding: 0.4rem 1rem;
  width: 100px;
  max-width: 100%;
  box-shadow: none;
  border: 1px solid #FFFFFF;
}

#ctz-webhook-confirmation .ctz-webhook-confirmation-buttons .btn-cancel {
  background: #FFFFFF;
  color: #AA0000;
  border-color: #AA0000;
}

#ctz-webhook-confirmation .ctz-webhook-confirmation-buttons .btn-confirm {
  background: #FF4A00;
  color: #FFFFFF;
  border-color: #FF4A00;
}

#ctz-webhook-confirmation-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.65);
  z-index: 9999998;
}

body.ctz-webhook-confirmation-opened {
  overflow: hidden;
}

@media (max-width: 600px) {
  #ctz-webhook-confirmation {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0;
    width: 100%;
    max-width: 100%;
  }

  #ctz-webhook-confirmation .ctz-webhook-confirmation-buttons {
    flex-direction: column;
    margin: 3rem 0 0 0;
  }

  #ctz-webhook-confirmation .ctz-webhook-confirmation-buttons a {
    margin-top: 1rem;
    width: 100%;
  }
}
