#ctz-settings .ctz-section-title {
  font-weight: bold;
  margin: 0 0 1.3rem;
  display: flex;
  align-items: center;
  white-space: nowrap;
  color: #FF4A00;
}

#ctz-settings .ctz-section-title:after {
  content: '';
  display: block;
  height: 1px;
  width: 100%;
  background: #dcdcde;
  margin-left: 1rem;
  flex-grow: 1;
}

#ctz-settings .ctz-accordion-wrapper {
  margin: 0 -16px;
}

#ctz-settings .ctz-accordion-wrapper .ctz-accordion-trigger {
  cursor: pointer;
  padding: 0.3rem 16px 0.4rem;
}

#ctz-settings .ctz-accordion-wrapper .ctz-accordion-trigger:hover {
  background: rgba(0, 0, 0, 0.1);
}

#ctz-settings .ctz-accordion-wrapper .ctz-accordion-trigger h2 {
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#ctz-settings .ctz-accordion-wrapper .ctz-accordion-trigger h2:after {
  content: "\f347";
  font-size: 1.1rem;
  font-family: 'dashicons';
}

#ctz-settings .ctz-accordion-wrapper .ctz-accordion-trigger.open h2:after {
  content: "\f343";
}

#ctz-settings .ctz-accordion-wrapper .ctz-accordion-content {
  padding: 1rem 16px;
}

#ctz-settings .ctz-accordion-wrapper .ctz-accordion-content h3 {
  font-weight: normal;
  font-size: 1rem;
  text-decoration: underline;
  margin: 0 0 1rem;
}
